<!DOCTYPE html>
<html>
    <head>
        <title>Музыкальный сервис</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/style.css" />
        {% import "macros.html" as macros %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='./scripts/connected_select.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='./scripts/connected_select_for_albums.js') }}"></script>
    </head>


    <body>
        <div class="navigation">
            <ul>
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                {% set user = session.get('user') %}
                {% set user_role = session.get('user_role') %}

                {% if user != 0 %}
                    <li><a href="{{ url_for('collection') }}">Коллекция</a></li>
                    <li class="split"><a href="{{ url_for('index') }}?exit=True">Выйти</a></li>
                {% else %}
                    <li class="split"><a href="{{ url_for('login') }}">Войти</a></li>
                {% endif %}

                {% if user_role == 1 %}
                    <li class="active"><a href="{{ url_for('admin_panel') }}">Панель администрирования</a></li>
                {% endif %}
            </ul>
        </div>
        

        <div class="collection_left">
            <ul>
                {% if flag == "music" %}
                    <li class="active"><a href="">Треки</a></li>
                    <li><a href="{{ url_for('admin_panel') }}?flag=album">Альбомы</a></li>
                    <li><a href="{{ url_for('admin_panel') }}?flag=perf">Исполнители</a></li>
                {% elif flag == "album" %}
                    <li><a href="{{ url_for('admin_panel') }}?flag=music">Треки</a></li>
                    <li class="active"><a href="">Альбомы</a></li>
                    <li><a href="{{ url_for('admin_panel') }}?flag=perf">Исполнители</a></li>
                {% elif flag == "perf" %}
                    <li><a href="{{ url_for('admin_panel') }}?flag=music">Треки</a></li>
                    <li><a href="{{ url_for('admin_panel') }}?flag=album">Альбомы</a></li>
                    <li class="active"><a href="">Исполнители</a></li>
                {% endif %}
            </ul>
        </div>


        {% if flag == "music"%}
            <form methods="GET">
                <div class="admin_content">
                    <input type="text" placeholder="Название трека" name="added_song_name" required>
                    <select name="new_song_album">
                        {% for i in range(len(albums_list))%}
                            <option>{{albums_list[i][0]}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Добавить</button>
                </div>
            </form>

            <form method="GET">
                <div class="admin_content">
                    <select name="delete_performer_song" id="perf_id">
                        {% for i in range(len(performers_list)) %}
                            <option value="{{performers_list[i][1]}}">{{performers_list[i][0]}}</option>
                        {% endfor %}
                    </select>

                    <select name="delete_album_song" id="album_id">
                        
                    </select>

                    <select name="delete_song" id="song_id">

                    </select>

                    <button type="submit">Удалить</button>
                </div>
            </form>


        {% elif flag == "album"%}
            <form methods="GET">
                <div class="admin_content">
                    <input type="text" placeholder="Название альбома" name="added_album_name" required>
                    <select name="new_album_performer">
                        {% for i in range(len(performers_list))%}
                            <option>{{performers_list[i][0]}}</option>
                        {% endfor %}
                    </select>
                    <select name="album_type">
                        <option value="1">Альбом</option>
                        <option value="2">EP</option>
                        <option value="3">Сингл</option>
                    </select>
                    <button type="submit">Добавить</button>
                </div>
            </form>

            <form method="GET">
                <div class="admin_content">
                    <select name="delete_performer">
                        {% for i in range(len(performers_list)) %}
                            <option value="{{performers_list[i][1]}}">{{performers_list[i][0]}}</option>
                        {% endfor %}
                    </select>

                    <select name="delete_album" id="album2_id">
                        
                    </select>

                    <button type="submit">Удалить</button>
                </div>
            </form>

        {% elif flag == "perf" %}
            <form methods="GET">
                <div class="admin_content">
                    <input type="text" placeholder="Название исполнителя" name="added_perf_name" required>
                    <button type="submit">Добавить</button>
                </div>
            </form>    

            <form method="GET">
                <div class="admin_content">
                    <select name="delete_performer">
                        {% for i in range(len(performers_list)) %}
                            <option value="{{performers_list[i][1]}}">{{performers_list[i][0]}}</option>
                        {% endfor %}
                    </select>

                    <button type="submit">Удалить</button>
                </div>
            </form>
        {% endif %}


    </body>
</html>