<!DOCTYPE html>
<html>
    <head>
        <title>Музыкальный сервис</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/style.css" />
        {% import "macros.html" as macros %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='./scripts/rating.js') }}"></script>
    </head>


    <body>
        <div class="navigation">
            <ul>
                <li class="active"><a href="">Главная</a></li>
                {% set user = session.get('user') %}
                {% set user_role = session.get('user_role') %}

                {% if user != 0 %}
                    <li><a href="{{ url_for('collection') }}">Коллекция</a></li>
                    <li class="split"><a href="{{ url_for('index') }}?exit=True">Выйти</a></li>
                {% else %}
                    <li class="split"><a href="{{ url_for('login') }}">Войти</a></li>
                {% endif %}
                {% if user_role == 1 %}
                    <li><a href="{{ url_for('admin_panel') }}">Панель администрирования</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="left_part">
            Левая часть
        </div>

        <div class="right_part">
            <form method="GET">
                <input type="text" placeholder="Введите трек, альбом или исполнителя" name="Search" required>
                <button type="submit">Найти</button>
            </form>

            <form method="GET">
                <select name="genre_search">
                    <option disabled selected hidden>Выберите жанр</option>
                    {% for i in range(len(genres)) %}
                        <option value="{{genres[i][0]}}">{{genres[i][1]}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Найти</button>
            </form>
        </div>

        <div class="content">

            {% if search %}
                <div class="search">
                    {% if len(find_songs) == 0 and len(find_albums) == 0 and len(find_performers) == 0 %}
                        <p class="nothing_found">Ничего не найдено</p>
                    {% else %}
                            
                        {% if not len(find_songs) == 0 %}
                            <div class="conteiner">
                                <p class="text">Треки</p>
                                <div class="found_items">
                                    {% for i in range(len(find_songs)) %}
                                        {{ macros.song_card(find_songs[i][0], 
                                            find_songs[i][1], 
                                            find_songs[i][2], 
                                            str(find_songs[i][3]) + '.jpg', 
                                            user_songs, 
                                            songs_rating[find_songs[i][2]],
                                            user_songs_rating) }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if not len(find_albums) == 0 %}
                            <div class="conteiner">
                                <p class="text">Альбомы</p>
                                <div class="found_items">
                                    {% for i in range(len(find_albums)) %}
                                        {{macros.album_card(find_albums[i][0], 
                                            find_albums[i][1], 
                                            find_albums[i][2], 
                                            str, 
                                            user_albums, 
                                            albums_rating[find_albums[i][2]],
                                            user_albums_rating) }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if not len(find_performers) == 0 %}
                            <div class="conteiner">
                                <p class="text">Исполнители</p>
                                <div class="found_items">
                                    {% for i in range(len(find_performers)) %}
                                        {{macros.performer_card(find_performers[i][0], find_performers[i][1], str)}}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
            {% endif %}


            {% if genres_search %}
                <div class="search">
                    {% if len(perf_by_genre) == 0 %}
                        <p class="nothing_found">Ничего не найдено</p>
                    {% else %}
                        <div class="conteiner">
                            <p class="text">Исполнители</p>
                            <div class="found_items">
                                {% for i in range(len(perf_by_genre)) %}
                                    {{macros.performer_card(perf_by_genre[i][0], perf_by_genre[i][1], str)}}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}


            {% if perf_flag %}
                {% set path = './static/images/performers/' + str(performer_info[0][1]) + '.jpg' %}
                <div class="performer">
                    <div class="top_header">
                        <img class="pict" src="{{path}}">
                        <div class="header_block">
                            <p class="header">{{performer_info[0][0]}}</p>
                        </div>
                    </div>
                        
                    {% if not len(performer_songs) == 0 %}
                        <div>
                            <p class="text">Треки</p>
                            <div class="perf_conteiner">
                                {% for i in range(len(performer_songs)) %}
                                    {{ macros.song_card(performer_songs[i][0], 
                                        performer_songs[i][1], 
                                        performer_songs[i][2], 
                                        str(performer_songs[i][3]) + '.jpg', 
                                        user_songs, 
                                        songs_rating[performer_songs[i][2]],
                                        user_songs_rating) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if not len(performer_albums) == 0 %}
                        <div>
                            <p class="text">Альбомы</p>
                            <div class="perf_conteiner">
                                {% for i in range(len(performer_albums)) %}
                                    {{macros.album_card(
                                        performer_albums[i][0], 
                                        performer_albums[i][1], 
                                        performer_albums[i][2], 
                                        str, 
                                        user_albums, 
                                        albums_rating[performer_albums[i][2]],
                                        user_albums_rating) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endif %}


            {% set n = 5 %}

            <div id="openModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title"></h3>
                            <a href="#close" title="Close" class="close">×</a>
                        </div>
                        <div class="modal-body">    

                            <form>
                                <input type="hidden" name="item_id" id="item_id">

                                <div class="rating-area">
                                    <input type="radio" id="star-5" name="rating" value="5">
                                    <label for="star-5" title="Оценка «5»"></label>	
                                    <input type="radio" id="star-4" name="rating" value="4">
                                    <label for="star-4" title="Оценка «4»"></label>    
                                    <input type="radio" id="star-3" name="rating" value="3">
                                    <label for="star-3" title="Оценка «3»"></label>  
                                    <input type="radio" id="star-2" name="rating" value="2">
                                    <label for="star-2" title="Оценка «2»"></label>    
                                    <input type="radio" id="star-1" name="rating" value="1">
                                    <label for="star-1" title="Оценка «1»"></label>
                                </div>

                                <a href="#close" id="fake_submit">Отправить</a>
                                <button id="modal_submit_btn" type="submit" close="close_btn">Отправить</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <div class="parent">
                <div class="conteiner">
                    <p class="text">Лучшие треки</p>
                    <div class="best_items">
                        {% for i in range(5) %}
                            {{ macros.song_card(songs[i][0], 
                                songs[i][1], 
                                songs[i][2], 
                                str(songs[i][3]) + '.jpg', 
                                user_songs, 
                                songs_rating[songs[i][2]],
                                user_songs_rating) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="conteiner">
                    <p class="text">Лучшие альбомы</p>
                    <div class="best_items">
                        {% for i in range(5) %}
                            {{macros.album_card(albums[i][0], 
                                albums[i][1], 
                                albums[i][2], 
                                str, 
                                user_albums, 
                                albums_rating[albums[i][2]],
                                user_albums_rating) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="conteiner">
                    <p class="text">Лучшие исполнители</p>
                    <div class="best_items">
                        {% for i in range(5) %}
                            {{macros.performer_card(performers[i][0], performers[i][1], str)}}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </body>

</html>